<tr>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>{{quantity}}</td>
    <td>{{totalPrice}}</td>
    <td>
        <form action="#/discard/{{id}}">
            <button>Discard</button>
        </form></td>
</tr>