<section id="viewDetailsAd" style="display: block;">
    <img src='{{this.image}}' style="width: 600px;">
    <div><br>
        <label>Title:</label>
        <h1>{{this.title}}</h1>
        <label>Description:</label>
        <p>{{this.description}}</p>
        <label>Publisher:</label>
        <div>{{this.publisher}}</div>
        <label>Date:</label>
        <div>{{this.dateOfpublishing}}</div>
        <label>Views:</label><span>{{this.viewCount}}</span><br>
        <input id="buttonBack" value="BACK ↩" type="button"></div>
</section>